

<div class="container">

  <div class="row">

    <div class="col-md-12">

      <h1>jfadkfjla;djf;ladjf;ajf;jadfja;fja;dsjfa;djf;adjf;ajfd;aj;fja;jfa;djf;l</h1>
      <form class="" action="/answer">
        <label for="question">meow meow meowmeow meow meow meow?</label>
        <input id="question" type="text" name="question" value="">
        <input type="submit" value="submit">

      </form>
    </div>

  </div>

  <h2>

    Things I don't like:

  </h2>

  <div class="row">

    <div class="col-md-4">
      <img src="http://data.iwastesomuchtime.com/162013063323.jpg" alt="Things that I like">
    </div>




  </div>

</div>
